@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-success" role="alert">
    <p class="mb-0">
        <span class="bi bi-shield-check pe-1"></span>
        You are authenticated as some entity.
    </p>
</div>
<div class="alert alert-success" role="alert">
    <p class="mb-0">
        <span class="bi bi-shield-plus pe-1"></span>
        You are authorized for the Administrators policy.
    </p>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
