@page
@model bobbylite.realmikefacts.web.Pages.AdministratorsModel

@{
    ViewData["Title"] = "Administrator page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Admin Dashboard</h1>

    @if (User.Identity!.IsAuthenticated)
    {
        <div class="nav-link text-light">Hello @User.Identity.Name,</div>
        <div class="nav-link text-light">
            Being an administrator for Real Mike Facts grants super user access.
        </div>

        <br/>

        <table class="table table-striped table-dark">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Requested Access</th>
                <th scope="col">Username</th>
                <th scope="col">Time of request</th>
                <th scope="col">Grant Access</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Administrator</td>
                <td>marymark</td>
                <td>11/1/2023 9:18 PM</td>
                <td>
                    <span><button type="button" class="btn btn-success">Approve</button></span>
                    <span><button type="button" class="btn btn-danger">Deny</button></span>
                </td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>Beta Tester</td>
                <td>jakeyboi</td>
                <td>11/1/2023 9:18 PM</td>
                <td>
                    <span><button type="button" class="btn btn-success">Approve</button></span>
                    <span><button type="button" class="btn btn-danger">Deny</button></span>
                </td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>Beta Tester</td>
                <td>TheBird</td>
                <td>11/1/2023 9:18 PM</td>
                <td>
                    <span><button type="button" class="btn btn-success">Approve</button></span>
                    <span><button type="button" class="btn btn-danger">Deny</button></span>
                </td>
                </tr>
            </tbody>
        </table>
    }
</div>