@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <header class="hero bg-primary text-white text-center py-5">
            <div class="container">
                <h1 class="display-4">Welcome to Real Mike Facts</h1>
                <p class="lead">A powerful and user-friendly web application for all your needs.</p>
                <a href="https://realmikefacts.b2clogin.com/realmikefacts.onmicrosoft.com/B2C_1_realmikefacts_signup_signin_flow/api/CombinedSigninAndSignup/unified?local=signup&csrf_token=KzV3Z3Q0Q08vNFR4M214aldCbUpiS1VOSklkTDZjSEhqNnEzRUVXMEJ3MWE3Tlk0b2NXeWZuRXR4TGtoU3FybzZPblV1SW5aY0J1S3RYSVhUNk8wa0E9PTsyMDIzLTEwLTIyVDIxOjIzOjQyLjg5ODkyMjlaO05hai84NkNFOWt5eE5yQ2Mrb0U5YWc9PTt7Ik9yY2hlc3RyYXRpb25TdGVwIjoxfQ==&tx=StateProperties=eyJUSUQiOiJmODBkMzljZS1lOGJhLTQ1YTAtYWM2Ni1lOTI0MmNmMTJiODIifQ&p=B2C_1_realmikefacts_signup_signin_flow" class="btn btn-outline-light btn-lg">Sign up</a>
            </div>
        </header>
    
        <!-- Features Section -->
        <section id="features" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-box">
                            <i class="fas fa-random fa-3x mb-3"></i>
                            <h3>OpenAI</h3>
                            <p>Learn about <a href="https://platform.openai.com/docs/introduction">training OpenAI on mike models.</a>.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <i class="fas fa-mobile-alt fa-3x mb-3"></i>
                            <h3>Azure AD B2C</h3>
                            <p>Learn about <a href="https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/azure-apps/?view=aspnetcore-7.0&tabs=visual-studio">hosting with Azure</a>.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <i class="fas fa-rocket fa-3x mb-3"></i>
                            <h3>GitHub Actions</h3>
                            <p>Learn about <a href="https://github.com/features/actions">CI/CD with GitHub Actions</a>.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <i class="fas fa-cog fa-3x mb-3"></i>
                            <h3>ASP.NET 8</h3>
                            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <i class="fas fa-cog fa-3x mb-3"></i>
                            <h3>Mongo DB</h3>
                            <p>Learn about <a href="https://www.mongodb.com/cloud/atlas/lp/try4?utm_source=google&utm_campaign=search_gs_pl_evergreen_atlas_core_retarget-brand_gic-null_amers-us-ca_ps-all_desktop_eng_lead&utm_term=mongodb&utm_medium=cpc_paid_search&utm_ad=e&utm_ad_campaign_id=14291004479&adgroup=128837427347&cq_cmp=14291004479&gad=1&gclid=CjwKCAjwkNOpBhBEEiwAb3MvvS49cn7FDPYKwXoC-6PgMuavX7zs9k7wLjDm08G4DgfNs52_8nLIOBoCVHgQAvD_BwE">using document model databses with mongo db.</a>.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <i class="fas fa-cog fa-3x mb-3"></i>
                            <h3>Azure Web App</h3>
                            <p>Learn about <a href="https://azure.microsoft.com/en-us/products/app-service/webe">Azure web app services.</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- Contact Section -->
        <section id="contact" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Contact Us</h3>
                        <p>If you have any questions or need assistance, please contact us.</p>
                    </div>
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" placeholder="Your Message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
</div>
