@page
@model bobbylite.realmikefacts.web.Pages.ManagerModel


@{
    ViewData["Title"] = "Manager page";
    Layout = "_Layout";
}
<style>
    /* CSS for a text ticker */
    .ticker {
      overflow: hidden; /* Hide the overflow */
      white-space: nowrap; /* Prevent wrapping of text */
      position: relative;
    }
    
    .ticker p {
      display: inline-block;
      /*margin-right: 100%; /* Move text far to the right, creating a scrolling effect */
      animation: ticker 30s linear infinite; /* Adjust the time as needed */
    }
    
    @@keyframes ticker {
      0% {
        transform: translateX(100%); /* Start from the right and move left */
      }
      100% {
        transform: translateX(-100%); /* End on the left, creating a loop */
      }
    }

    .typing-demo {
      width: @Model.CharacterCount;
      animation: typing 5s steps(@Model.WidthCount), blink .5s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
      font-family: monospace;
      font-size: 2em;
      display: block;
    }
    
    @@keyframes typing {
      from {
        width: 0
      }
    }
    
    @@keyframes blink {
      50% {
        border-color: transparent
      }
    }
</style>
<div class="text-center">
    <h1 class="display-4">Real Mike Facts Managers</h1>
    
    <div class="nav-link text-light">
        <div class="nav-link text-light">Hello @User.Identity!.Name,</div>
        Being a manager for Real Mike Facts grants you permission to interact with
        <br/>
        a trained open ai version of Mike.
    </div>
    <br/>
    <br/>
    @if (User.Identity!.IsAuthenticated)
    {
        <div style="text-align: -webkit-center">
            <div id="ticker">
                <div id="typingDemo" class="typing-demo">
                    <p>@Model.Message</p>
                </div>
            </div>
            <br/>
            <br/>
            <form method="post">
                <input asp-for="Message" style="max-width: 600px" class="form-control form-control-lg" type="text" placeholder="Talk to Mike himself...">
                <br/>
                <button class="btn btn-success" id="updateButton">Submit</button>
            </form>
        </div>
    }
</div>

<script>
setTimeout(function() {
    // Get the element by its ID
    var element = document.getElementById("ticker");
    
    // Check if the element exists
    if (element) {
      // Add the CSS class to the element
      element.classList.add("ticker");
    }
  }, 3000); // 3000 milliseconds (3 seconds)
</script>