@page
@model bobbylite.realmikefacts.web.Pages.ManagerModel

@{
    ViewData["Title"] = "Manager page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Real Mike Facts Manager Page</h1>
</div>