@page
@model bobbylite.realmikefacts.web.Pages.ManagerModel

@{
    ViewData["Title"] = "Manager page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Real Mike Facts Manager Page</h1>

    @if (User.Identity!.IsAuthenticated)
    {
        <div class="nav-link text-light">Hello @User.Identity.Name,</div>
        <div class="nav-link text-light">
            Being a manager for Real Mike Facts grants you permission to tweet 
            <br/>
            from the <a href="">@@RealMikeFacts</a> twitter account.
        </div>
    }
</div>