@page
@model bobbylite.realmikefacts.web.Pages.Settings

@{
    ViewData["Title"] = "Settings page";
    Layout = "_Layout";
}

<div>
    <h1 class="display-4">Real Mike Facts Administrator Page</h1>
    
    @if (User.Identity!.IsAuthenticated)
    {
        <h1 class="display-6">Identity Attributes</h1>
        <div class="nav-link text-light">
            Name: @User.Identity.Name
        </div>
        <div class="nav-link text-light">
            Authentication Type: @User.Identity.AuthenticationType
        </div>
        <div class="nav-link text-light">
            IsAuthenticated: @User.Identity.IsAuthenticated
        </div>
        
        <br/>
        
        <h1 class="display-6">Account Attributes</h1>
        
        <div class="nav-item">
            <a class="nav-link text-light" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="EditProfile" style="padding-top: 10px">
                <div style="display: flex; align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16" style="padding-right: 10px;">
                      <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    Account Settings
                </div>
            </a>
        </div>
    }
</div>